<form (ngSubmit)="onSubmit($event)">
  <div class="fields-container">
    <div class="field-box" *ngFor="let field of fields ">
      <div class="field-content">{{field.content}}</div>
      <div *ngIf="field.type === 'text'">
        <input class="text-input" type="text" #answer>
      </div>
      <div *ngIf="field.type === 'radio'">
        <input class="radio-input" type="radio"  [value]="option" *ngFor="let option of options" #answer> 
      </div>
      <div *ngIf="field.type === 'checkbox'">
        <input class="checkbox-input" type="checkbox"  [value]="option" *ngFor="let option of options" #answer>
      </div>
      <div *ngIf="field.type === 'range'">
        <input class="range-input" type="range"  [min]="range.min" [max]="range.max" #answer>
      </div>
    </div>
  </div>
  <button type="submit">Submit</button>
</form>
