.form-container {
    text-align: center;
    background-color: #f5f5f5;
    padding: 20px;
    .form-title {
      font-size: 2rem;
      color: #333;
    }
    .form-description {
      font-size: 1.5rem;
      color: #333;
      margin-bottom: 20px;
    }
    .go-back-button {
        position: absolute;
        top: 10px;
        left: 10px;
        background-color: #4CAF50;
        color: white;
        padding: 12px 20px;
        border: none;
        cursor: pointer;
        &:hover {
        background-color: #3e8e41;
        }
    }
    
    
  }