//lab2
// :host{
//     height: 100%;
//     width: 100%;
//     //centrarea unui div cu flexbox 2007
//     // display: flex;
//     // justify-content: center;
//     // align-items: center;

//     //centrare
//     display: grid;
//     place-items: center;
 

// }
// .box{
//     background-color: aqua;
//     width: 500px;
//     font-size: 1.3rem;
//     text-align: center;
//     line-height: 100px;

//     // centrarea unui div 2001
//     // position: absolute;
//     // top: 50%;
//     // left: 50%;
//     // transform: translate(-50%,-50%);

//     //pozitionare cu grid
//     display: grid;
//     grid-template-columns: repeat(2, 1fr) 200px repeat(2, 1fr);
//     grid-template-rows: 1fr 1fr;

// }

// .el1{
//     grid-row: 1;
//     grid-column: 3/ span 2;
// }
// .el2{
//     grid-row: 1;
//     grid-column: 3/span 1;
// }

// .el3{
//     grid-row: 1;
//     grid-column: 4 / span 2;
//   }
  
// .el4{
//     grid-row: 2;
//     grid-column: 1 / span 5;
// }

//lab3
.app{
width: 100%;
height: 100%;
padding: 20px;
gap: 20px;
display:flex;
flex-wrap: wrap;
align-content: flex-start;
}